.BtnActive{
    background-color: black;
    color: white;
}

#displayBoardContainer{
    display: flex;
   
    justify-content: center;
}



/* Add this to your CSS file */
/* table {
    width: 100%;
    table-layout: fixed;
}

td {
    word-wrap: break-word;
    text-align: center;
}

@media screen and (max-width: 600px) {
    td {
        padding: 20px;  
        font-size: 4px;  
    }
}
 */